body{
    margin: 0px
}
button {
    min-width: 50px;
    min-height: 50px;            
}
img {
    max-width: 200px;
    transition: transform 0.5s;
}
.container{
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}