body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background-color: rgb(215, 240, 231);
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dropDown{
    height: 3rem;
    padding: 1px 2px 1px 2px;
    margin: 0px;
    border: none;
    box-shadow: 2px 2px 2px grey;
    background-color: rgb(253, 253, 253);
}
.dropdownBtn{
    width: 2rem;

}
.inputFrame{
    width: 20rem;
    box-sizing: border-box;    
}
.inputFrame:focus{
   outline: none;
}
.taskListMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
