body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background-color: rgb(215, 240, 231);
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e6e6e6;
    
}
.summary{
    height: 3rem;
    width: 22rem;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgb(0 0 0 / 20%);
    border-top: 1px solid #e6e6e6;
}
.dropDown{
    height: 3rem;
    padding: 1px 2px 1px 2px;
    margin: 0px;
    border: none;
    box-shadow: 2px 2px 2px grey;
    background-color: rgb(253, 253, 253);
}
.dropdownBtn{
    width: 2rem;

}
.inputFrame{
    width: 20rem;
    box-sizing: border-box;    
}
.inputFrame:focus{
   outline: none;
}
.taskListMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    border-top: 1px solid #e6e6e6;
    width: 22rem;
    height: 3rem;
    background-color: rgb(253, 253, 253);
}

/*  klasy znikające do funkcji */
.taskDone{
    text-decoration: line-through;
    text-decoration-color: grey;
}